* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: grey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgb(44, 126, 48);
  padding: 40px 60px;
  border-radius: 12px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.restart {
  padding: 15px 20px;
  color: rgb(7, 90, 42);
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 600;
}
.restart:focus {
  background-color: rgb(7, 43, 7);
  color: aliceblue;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  perspective: 800px;
}

.item {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.item.boxMatch {
  transform: rotateY(180deg);
  pointer-events: none;
  border: 2px solid rgb(0, 0, 0);
}

.front,
.back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background-color: rgb(120, 124, 115);
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#attemptsDisplay {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
